body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #425261;
}

a {
  text-decoration: none!important;
  color: #425261;
}

p {
  margin: 0;
}

.container--blue {
  background: #E1EFFB;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background: #E1EFFB;
}

.back-btn {
  width: 35px;
  height: 35px;
}

.title-container {
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
  padding-left: 20px;
}

.search-container {
  width: 100%;
  display: flex;
  padding: 20px 0 0 0;
  justify-content: center;
  align-items: center;
}

.form-search {
  display: flex;
  width: 90%;
}

.input-search {
  width: 98%;
  max-width: 100%;
  height: 25px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  padding: 10px 15px;
}

.button-search {
  min-height: 45px;
  min-width: 45px;
  border-radius: 10px;
  /* border: 1px solid #5B7083; */
  background: #5B7083;
  /* padding: 10px 0; */
  margin-left: 10px;
}

/* CARDS */

.cardArticle {
  border: 1px solid #E0E4F0;
  background: #E0E4F0;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  color: #425261;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  transition: 0.4s;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cardArticle:hover {
  background: rgb(230, 233, 243);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.containerTitle {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.titleImage {
  height: 40px;
  margin-right: 15px;
}

.articleTitle {
  font-size: 24px;
  font-weight: bold;
  /* margin-bottom: 10px; */
  margin: 0;
}

.abstract {
  margin: 0;
  margin-bottom: 10px;
}

.containerPenalizaciones {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  max-width: 350px;
}
